.logo{
    width: 60px;
}

.header{
    background-color: #4281c8;
}

.header > h2 {
    color: white;
    font-size: 36px;
}

.button{
    background: transparent;
    color: white;
    font-size: 24px;
}

.button:hover{
    background-color: white;
}
